@charset "UTF-8";
@import "./table.scss";

$darkMode-color: white;
$darkMode-background-color: #282c34;

$lightMode-color: black;
$lightMode-background-color: white;

[data-theme="dark"]{
  *{
    color: $darkMode-color;
  }

  body{
    background-color: $darkMode-background-color; 
  }


  .MuiDivider-root{
    border-color: rgb(99, 99, 99);
  }

  
  //Grid
  .css-mhc70k-MuiGrid-root {
    margin-top: 0;
    width: 100%; 
    margin-left: 0;
  } 

  .custom {
    &-app-bar{
      background: rgb(40, 44, 52,0.9); 
    }
    &-drawer > div{
      background:#282c34; 
    }
  }


  table{
    *{ color: $lightMode-color; }
  }

}

[data-theme="light"]{
  .custom {
    &-app-bar{
      background: rgba(255,255,255,0.9);
    }
  }
}

.custom {
  &-app-bar{
    box-shadow: none !important;
  }
  // &-drawer > div{
  //   background-color:transparent !important;
  // }
}

.MuiList-root{
  a{
    width: 100%;
    // text-decoration: none;
  }
}


a{
  // width: 100%;
  text-decoration: none;
}

* {
  /* 
  text-align:right; */
  // font-size:15px;
  padding: 0px;
  margin: 0px;
  color: $lightMode-color;
}

body {
  /* margin: 0; */
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



.right{
  text-align: right;
  float: right;
}
.left{
  text-align: left;
  float: left;
}

.center{
  text-align: center;
}


